/* start reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* end reset */

body{
    font-family: 'Lato', sans-serif; 
    
}
#header{
    style:"max-width:1500px";
}
.clearfix{
    clear: both;
}

#header .container{
    width: 900px;
    margin: 0 auto;
    
}

#logo{
    float: left;
    padding-top: 46px;
}

nav{
    float: right;
    padding-top: 60px;
}

nav li{
    display: inline;
}
nav a{
    padding: 0 10px;
}

ul{
    float: left;
}

.main{
    position:relative;
    margin: 0 auto;
    width: 900px;
    height: 500px;  
}
.main .sexycouple{
    position: absolute;
    top: 50px;
    left: 0px;
}

.main .sexycouple img{
    width: 450px;
}
.tital{
    position: absolute;
    top: 48px;
    right:35px;
}
.tital h1{
    position: absolute;
    width: 400px;
    right: 0px;
    font-family: bodoni;
    font-size: 50px;
    font-weight: bold;
}

.tital p{
    width: 400px;
    margin-top: 170px;
    font-family: bodoni;
    font-size: 18px;
}


.main .biglogo img{
    position: absolute;
    top: 250px;
    right: 0px;
    height: 500px;     
}


.faq{
    cursor: pointer;
    color: #9B9B9B;
}

.faq:hover{
    color: #44474F;
}

.sidebar{
    position: fixed;
    right: -400px;
    top: 0px;
    width: 400px;
    background-color: rgb(255,255,255);
    display: block;
    height: 100%;
    transition: all 1s;
    z-index:1;
}
.sidebar .close-key{
    cursor: pointer;
    float: left;
    margin: 20px 0px 0px 20px;
    height: 20px;
}

.sidebar h2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #44474F;
    font-weight: bold;
}

.sidebar.open{
    right: 0px;
}

.sidebar .accordion{
    margin-top: 20px;
    
}

.ui-state-default{
    border: 0px;
}

.ui-widget-content{
    border: 0px;
}

.ui-state-active{
    background-color: #9CAFC3; 
    border-color: #9CAFC3;
}

.city{
    font-size: 20px;
    font-weight: 300;
    padding-left: 98px;
    padding-top: 30px;
    color: #4A4A4A;
}

#cityname{
    font-weight: 400;
    font-size: 26px;
    background: -webkit-linear-gradient(#3023AE, #C96DD8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search{
    padding: 30px 0px 30px 98px;    
}

.search label{
    font-size: 20px;
    font-weight: 300;
    color: #4A4A4A;
}
.search button{
    margin-left: 14px;
}

/*選項區--------------------------------------------------------------------*/
.main-picture{
    overflow:hidden;
    background: white;
    position: relative;
    text-align: center;
    position: relative;
}

.main-picture-images{
    width: 200px;
    height: 200px;
    background-size: 260px;
    background-position: center center;
    border: 0px #eff3f6 solid;
    border-radius: 2px;
    transition: border .35s;
    box-sizing: border-box;
}
.main-picture-images:hover{
    border-width: 10px;
}

.main-picture .person{
    font-weight: 300;
    display: inline-block;
    margin: 5px;
    text-align: left;
}

.person .main-picture-images{
    margin-bottom: 10px;
}

.person .location{
    margin: 10px 0 0 0;
}

.overflow {
    height: 200px;
}

/*照片區-----------------------------------------------------------------------*/
#footer .logo{
    padding-top: 30px;
}

#footer {
    text-align:center;
    background: black; 
}

#footer p{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

/*尾----------------------------------------------------------------------*/
.clearfix{
    clear: both;
}

.clearfix{
    clear:both;
}



