/* start reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* end reset */

body{
    font-family: 'Lato', sans-serif;   
}

.header{
    height: 85px;
    background: -webkit-linear-gradient(left,#0269FF,#33FFC9);
}

.header .logo{
    float: left;
    padding-top: 17.5px;
    padding-left: 98px;
    height: 50px;  
}

.header-content span{
    font-size: 26px;
    color: white;
    text-align: center;
    float: left;
    padding-left: 40px;
    line-height: 90px; 
    text-decoration: none;
}

.header ul{
    color: white;
    float: right;
    padding-right: 98px;
}

.header ul li{
    float: left;
    padding-left: 50px;
    line-height: 85px;  
}

.header ul a{
    color: white;
    text-decoration: none;
    border: 1.5px solid;
    padding: 13px 32px;
    border-radius: 50px;
    transition: background-color .25s;
    font-family:Lato light;
}

.header ul a:hover{
    color: white;
    border-color: rgba(0,116,255,100);
    background-color: rgba(0,116,255,100); 
}

/*頭----------------------------------------------------------------------*/
.city{
    font-size: 20px;
    font-weight: 300;
    padding-left: 98px;
    padding-top: 30px;
    color: #4A4A4A;
}

#cityname{
    font-weight: 400;
    font-size: 26px;
    background: -webkit-linear-gradient(#3023AE, #C96DD8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*顯示城市區--------------------------------------------------------------------*/
.search{
    padding: 30px 0px 30px 98px;    
}

.search label{
    font-size: 20px;
    font-weight: 300;
    color: #4A4A4A;
}
.search button{
    margin-left: 14px;
}

/*選項區--------------------------------------------------------------------*/
.main-picture{
    overflow:hidden;
    background: white;
    position: relative;
    text-align: center;
    position: relative;
}

.main-picture-images{
    width: 260px;
    height: 260px;
    background-size: cover;
    background-position: center center;
    border: 0px rgba(255,255,255,1) solid;
    border-radius: 2px;
    transition: border .35s;
    box-sizing: border-box;
}
.main-picture-images:hover{
    border-width: 15px;
}

.main-picture .person{
    font-weight: 300;
    display: inline-block;
    margin: 5px;
    text-align: left;
}

.person .main-picture-images{
    margin-bottom: 10px;
}

.person .location{
    margin: 10px 0 0 0;
}

.overflow {
    height: 200px;
}

/*照片區-----------------------------------------------------------------------*/
.explain{
    text-align: center;
    background-color: white;
}

.explain .stream{
    padding: 1%;
    text-align: center;
    display: inline-block;
    width: 20%;
    margin: 100px auto;

}
.explain .stream img{
    margin-bottom: 10px;
}
.explain .stream h3{
    font-weight: 400; 
}
.explain .stream p{
    margin-top: 10px; 
    font-weight: 300;
}

/*使用說明----------------------------------------------------------------------*/

#footer .logo{
    padding-top: 30px;
}

#footer {
    text-align:center;
    background: #026AFF; 
}

#footer p{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

/*尾----------------------------------------------------------------------*/
.clearfix{
    clear: both;
}

.clearfix{
    clear:both;
}



