/* start reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* end reset */

body {
    background: white;  
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
.clearfix{
    clear: both;
}

.main{
    position:fixed;
    width: 100%; 
    height: 100%;

}

.main .fillWidth{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 177.7777778vh;
    min-width: 100%;
    min-height: 56.25vw;
}

.main .sexycouple{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(images/sexycouple.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.main .sexycouple img{
    width: 100%;
}

#header-container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 4;
    transition: 0.7s;

}
.show{
    background-color: rgba(255,255,255,1);
}

#header{
    z-index: 3;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logo{
    float: left;
}

#logo img{
    height: 35px;
}


nav{
    float: right;
    padding-top: 7px;
}

nav li{
    display: inline;
    vertical-align: middle;
    line-height: 20px;
}

nav a{
    text-decoration: none;  
}

.signin{
    color: black;
    cursor: pointer;
}

.signin:hover{
    background: -webkit-linear-gradient(#948449, #FFC900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq{
    cursor: pointer; 
}

.faq img{
    height: 20px;
    padding-right: 35px;
    vertical-align: middle;
}

.faq img:hover{
    transform: scale(1.2);
}

.faq.animation{

}


#article{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

.tital{
    font-weight: 400;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tital h1{
    font-size: 45px;
}

.tital strong{
    background: -webkit-linear-gradient(#FFD700, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tital p{
    font-size: 20px;
}


.sidebar{
    position: fixed;
    right: -400px;
    top: 0px;
    width: 400px;
    background-color: rgb(255,255,255);
    display: block;
    height: 100%;
    transition: all 1s;
    z-index: 5;
}
.sidebar .close-key{
    cursor: pointer;
    float: left;
    margin: 20px 0px 0px 20px;
    height: 20px;
}
/*header 頁面 第20~23欄*/
/*.sidebar form{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition:  width 0.4s ease-in-out;
}

.sidebar input[type=text]:focus {
    width: 100%;
}*/

.sidebar h2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #44474F;
    font-weight: bold;
}

.sidebar.open{
    right: 0px;
}

.sidebar .accordion{
    margin-top: 20px;

}


.login-page{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width:360px;
    display: none;
    z-index: 9;
}


.form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3), 0 5px 5px 0 rgba(0,0,0,0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #948449;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #AE9C5C;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #AE9C5C;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.close{
    cursor: pointer;
    color: lightgrey;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 12px;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.ui-state-default{
    border: 0px;
}

.ui-widget-content{
    border: 0px;
}

.ui-state-active{
    background-color: #9CAFC3; 
    border-color: #9CAFC3;
}


.containerShow{
    padding-top: 100vh;
}

.containerCitySearch{
    position:relative;
    padding-top: 30px;
    background-color: white;
}

.city{
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: black;
    z-index: 2;
}

#cityname{
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.search{
    position: relative;
    padding: 30px 0px 30px 98px; 
    color: black;
    font-weight: 400;
}

.search label{
    font-size: 20px;


}
.search button{
    margin-left: 14px;
}


.main-picture{
    overflow:hidden;
    background: white;
    position: relative;
    text-align: center;
    position: relative;
}

.main-picture a{
    text-decoration: none;
}

.main-picture-images{
    position: absolute;
    top:0px;
    left: 0px;
    width: 280px;
    height: 440px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0px #eff3f6 solid;

}
.person:hover{
    transition: box-shadow .35s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.person{
    position: relative;
    width: 280px;
    height: 440px;
    font-weight: 300;
    display: inline-block;
    margin: 5px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.overlay{
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 280px;
    height: 440px;
    transition: .35s;
    opacity: 0;
}

.overlay:hover{
    opacity: 0.8;
}

.text{
    background-color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    position: absolute;
}


.overflow {
    height: 200px;
}

#footer {
    position: absolute;
    text-align:center;
    background-color: whitesmoke;
    width: 100%; 
}

#footer .logo{
    padding-top: 30px;
    height: 35px;
}

#footer p{
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-size: 14px;
}

/*@media screen and (max-width: 480px) {
   
}*/
